.container-timer {
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    box-shadow: 0 0 20px rgba(255, 252, 252, 0.5);
}

#cronometro {
    font-size: 72px;
    font-weight: bold;
    margin: 20px 0 30px;
}

#status {
    color: #bdbdbd;
    margin-bottom: 10px;
}

.historico h2 {
    margin-bottom: 15px;
}

.historico li {
    background: #ffffff;
    border-radius: 8px;
    padding: 10px 14px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #ccc;
}
.container-background{
    background-color: #ffffff;
}